.myInpt {
    width: 100%;
    font-size: 12px;
    background: rgba(0, 66, 105, 0.07);
    border-radius: 4px; 
    padding: 10px 20px;
    text-align: center;
    cursor: pointer;
}

.myInpt:focus {
    opacity: 0.7;
}